<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Memory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Memory.Properties.Settings>
            <setting name="highscore1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="highscore2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="highscore3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="highscore4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="highscore5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name1" serializeAs="String">
                <value>not existing yet</value>
            </setting>
            <setting name="name2" serializeAs="String">
                <value>not existing yet</value>
            </setting>
            <setting name="name3" serializeAs="String">
                <value>not existing yet</value>
            </setting>
            <setting name="name4" serializeAs="String">
                <value>not existing yet</value>
            </setting>
            <setting name="name5" serializeAs="String">
                <value>not existing yet</value>
            </setting>
        </Memory.Properties.Settings>
    </userSettings>
</configuration>